<%= form_with(model: phrase, local: false, data: { phrase_target: "form", action: "submit->phrase#createPhrase" }, class: "space-y-6") do |form| %>
  <% if phrase.errors.any? %>
    <div class="error-messages bg-red-100 text-red-700 p-4 rounded mb-6">
      <h2 class="text-lg font-bold"><%= pluralize(phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>
      <ul class="list-disc list-inside">
        <% phrase.errors.full_messages.each do |message| %>
          <li class="text-base"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col lg:flex-row">
    <div class="flex-1 mr-3">
      <%= form.label :text, class: "block text-lg font-medium text-gray-900" %>
      <%= form.text_area :text, rows: 3, class: "mt-2 block w-full rounded-md border-gray-400 shadow-sm focus:border-indigo-400 focus:ring focus:ring-indigo-300 focus:ring-opacity-50 text-lg" %>
    </div>
    <div class="flex-1">
      <%= form.label :category, class: "block text-lg font-medium text-gray-900" %>
      <div class="mt-2 flex flex-col rounded-md shadow-sm justify-between space-y-3">
        <%= form.select :category,
                        options_for_select(@categories, phrase.category || "uncategorised"),
                        { include_blank: "Select or create new category" },
                        class: "flex-1 p-3 rounded-md border-gray-400 focus:border-indigo-400 focus:ring focus:ring-indigo-300 focus:ring-opacity-50 text-lg",
                        data: { action: "change->phrase#toggleNewCategory" } %>
        <%= form.text_field :new_category,
                          placeholder: "Create new category",
                          class: "p-3 block w-full rounded-md border-gray-400 focus:border-indigo-400 focus:ring focus:ring-indigo-300 focus:ring-opacity-50 text-lg",
                          style: "",
                          data: { phrase_target: "newCategory" } %>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center mt-4">
    <%= form.submit phrase.new_record? ? "Save Phrase" : "Update Phrase", class: "inline-flex items-center px-6 py-3 border border-transparent text-lg font-medium rounded-md shadow-sm text-white bg-indigo-700 hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600" %>
    <div class="mb-4">
      <%= link_to 'View Archived Phrases', archived_phrases_path, class: "hover:bg-gray-800 text-gray-500 font-bold py-3 px-6 rounded text-lg" %>
    </div>
  </div>
<% end %>