<%= form_with(model: phrase, local: false, data: { phrase_target: "form", action: "submit->phrase#createPhrase" }, class: "space-y-6") do |form| %>
  <% if phrase.errors.any? %>
    <div class="error-messages bg-red-100 text-red-700 p-4 rounded mb-6" role="alert" aria-live="assertive">
      <h2 class="text-lg font-bold"><%= pluralize(phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>
      <ul class="list-disc list-inside">
        <% phrase.errors.full_messages.each do |message| %>
          <li class="text-base"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-col lg:flex-row">
    <%# Todo: Revamp the Category Select, it isn't very intuitive %>
    <div class="flex-1 mr-3 mt-3">
      <%= form.label :text, class: "sr-only" %>
      <%= form.text_area :text, rows: 3, class: "#{text_size_for("text-lg")} font-light", placeholder: "Enter your new phrase here...", aria: { label: "Phrase text" } %>
    </div>
    <div class="flex-1  mt-4">
      <%= form.label :category, class: "#{text_size_for("text-lg")} sr-only" %>
      <div class="mt-2 flex flex-col rounded-md shadow-sm justify-between space-y-3">
        <%= form.select :category,
                        options_for_select(@categories, selected: phrase.category),
                        { include_blank: "Select or create new category" },
                        class: "font-light #{text_size_for("text-lg")}",
                        data: { action: "change->phrase#toggleNewCategory" },
                        aria: { label: "Category" } %>
        <%= form.label :new_category, class: "sr-only" %>
        <%= form.text_field :new_category,
                          placeholder: "Create new category",
                          class: "block p-2.5 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 font-light #{text_size_for("text-lg")}",
                          data: { phrase_target: "newCategory" },
                          aria: { label: "New category" } %>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center mt-4">
    <%= form.submit phrase.new_record? ? "Save Phrase" : "Update Phrase", class: "btn btn-primary #{text_size_for("text-lg")}", aria: { label: phrase.new_record? ? "Save Phrase" : "Update Phrase" } %>
    <div class="mb-4">
      <%= link_to 'View Archived Phrases', archived_phrases_path, class: "btn btn-secondary", aria: { label: "View Archived Phrases" } %>
    </div>
  </div>
<% end %>