<div id="phrase_<%= phrase.id %>" 
    class="bg-white pt-2 px-6 pb-4 rounded-lg shadow-lg cursor-pointer transition duration-300 ease-in-out transform hover:scale-105 w-full md:max-w-96"
    data-phrase-target="playButton"
    data-action="click->phrase#play"
    data-audio-url="<%= phrase.audio_url %>"
    style="min-height: 200px; display: flex; flex-direction: column; justify-content: space-between;"
  >
  <span data-phrase-target="playStatus" class="btn bg-indigo-600 px-4 py-1 rounded-md text-white focus:ring-indigo-500 <%= text_size_for("text-base") %> text-gray-600 mb-4">
    <i class="fas fa-play-circle mr-2"></i>Click to play
  </span>
  <p class="text-2xl mb-4 font-semibold text-gray-800 leading-relaxed"><%= phrase.text&.capitalize %></p>
  <div class="flex justify-between items-center mt-auto">
    <%= button_tag type: 'button', class: "text-gray-600 hover:text-blue-600 transition duration-300 h-8 w-8", title: "Share", data: { action: "click->phrase#share", phrase_text: phrase.text, phrase_audio: phrase.audio_url } do %>
      <i class="fas fa-share-alt h-8 w-8"></i>
    <% end %>
    <div class="flex flex-row space-x-4">
      <%= link_to edit_phrase_path(phrase), class: "text-gray-600 hover:text-yellow-600 transition duration-300", title: "Edit", data: { action: "click->phrase#stopPropagation" } do %>
        <i class="fas fa-edit h-8 w-8"></i>
      <% end %>
      <% if phrase.archived %>
        <%= button_to archive_phrase_path(phrase), method: :patch, class: "text-gray-600 hover:text-blue-600 transition duration-300", title: "Unarchive", data: { action: "click->phrase#stopPropagation" } do %>
          <i class="fas fa-archive h-8 w-8"></i>
        <% end %>
      <% else %>
        <%= button_to archive_phrase_path(phrase), method: :patch, class: "text-gray-600 hover:text-blue-600 transition duration-300", title: "Archive", data: { action: "click->phrase#stopPropagation" } do %>
          <i class="fas fa-archive h-8 w-8"></i>
        <% end %>
      <% end %>
      <!-- Send as SMS Button -->
    </div>
  </div>
</div>