<div id="<%= dom_id phrase %>">
  <p>
    <strong>User:</strong>
    <%= phrase.user_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= phrase.text %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= phrase.category %>
  </p>

  <p>
    <strong>Audio url:</strong>
    <%= phrase.audio_url %>
  </p>

</div>
