<div data-controller="phrase">
  <div id="flash_messages">
    <%= render "shared/flash" %>
  </div>
  <div data-controller="expandable" data-expandable-default-expanded-value="true" class="mb-8">
    <div data-action="click->expandable#toggle" class="flex justify-between items-center cursor-pointer bg-indigo-600 text-white p-4 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-4">Create New Phrase</h2>
      <svg data-expandable-target="icon" class="w-6 h-6 transition-transform duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
      </svg>
    </div>
    
    <div id="new_phrase_form" data-expandable-target="content" class="overflow-hidden transition-[max-height] duration-300 ease-in-out">
      <%= render 'form', phrase: Phrase.new %>
    </div>
  </div>
  <div id="phrases_list" data-phrase-target="phrasesList">
    <% @phrases.group_by(&:category).each do |category, phrases| %>
      <div class="mb-6" data-controller="expandable" data-expandable-default-expanded-value="false">
        <div 
          data-action="click->expandable#toggle" 
          class="w-full text-left text-2xl font-bold mb-4 py-4 px-6 bg-gray-300 hover:bg-gray-400 rounded flex justify-between items-center cursor-pointer"
        >
          <span><%= category %></span>
          <svg data-expandable-target="icon" class="w-6 h-6 transition-transform duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
        <div 
          data-expandable-target="content"
          data-phrase-target="categoryContainer"
          data-category="<%= category %>"
          id="category_<%= category.parameterize %>" 
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-4 overflow-hidden transition-[max-height] duration-300 ease-in-out"
        >
          <% phrases.each do |phrase| %>
            <%= render 'phrase', phrase: phrase %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
