<!DOCTYPE html>
<html>
  <head>
    <title>Let's Talk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  </head>
  <body class="bg-gray-100">
    <%= render 'shared/top_navbar' %>
    <% if notice %>
      <%= render 'shared/notice', message: notice %>
    <% end %>
    <% if alert %>
      <%= render 'shared/alert', message: alert %>
    <% end %>

    <div class="w-full flex flex-col min-h-screen">
      <main class="lg:container mx-auto px-4 pt-6  flex-grow">
        <%= yield %>
      </main>
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>
