<!DOCTYPE html>
<html>
  <head>
    <title>TtsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class="bg-gray-100">
    <nav class="bg-white shadow" aria-label="Main Navigation">
      <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-4">
            <%= link_to "Home", root_path, class: "text-gray-700 px-3 py-5 rounded-md #{text_size_for("text-sm")} font-medium" %>
            <%= link_to "Phrases", phrases_path, class: "text-gray-700 px-3 py-5 rounded-md #{text_size_for("text-sm")} font-medium" %>
          </div>
          <div class="flex space-x-4">
            <% if user_signed_in? %>
              <span class="text-gray-700 px-3 py-5 rounded-md <%= text_size_for("text-xs") %> font-medium">Hello, <%= link_to current_user.display_name, settings_profile_index_path, class: "text-indigo-700 px-1 py-5 rounded-md font-medium" %></span>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-gray-700 px-3 py-5 rounded-md #{text_size_for("text-xs")} font-medium" %>
            <% else %>
              <%= link_to "Sign Up", new_user_registration_path, class: "text-gray-700 px-3 py-5 rounded-md #{text_size_for("text-sm")} font-medium" %>
              <%= link_to "Login", new_user_session_path, class: "text-gray-700 px-3 py-5 rounded-md #{text_size_for("text-sm")} font-medium" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <div class="lg:container mx-auto px-4 py-6">
      <% if notice %>
        <%= render 'shared/notice', message: notice %>
      <% end %>
      <% if alert %>
        <%= render 'shared/alert', message: alert %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
